name: Generate Pacman Game

on:
  schedule:
    - cron: "58 9 * * *"
  workflow_dispatch: 

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Generate Pacman SVG
        uses: abozanona/generate-pacman-game-from-github-contribution-grid@2.3.0
        with:
          github_user_name: ${{ github.repository_owner }}

      - name: Push generated SVG
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
